name: xunitblog-development

services:
  app:
    build:
      context: .
      dockerfile: XUnitBlog.App/Dockerfile
    restart: always
    ports:
      - "2000:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: >
        Host=db;
        Port=5432;
        Database=xunitblog;
        Username=postgres;
        Password=helloworld-xunitblog;
    volumes:
      - uploads:/app/wwwroot/uploads
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: helloworld-xunitblog
      POSTGRES_DB: xunitblog
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network

volumes:
  uploads:
  pgdata:

networks:
  app_network:
    driver: bridge