@using System.Security.Claims
@using XUnitBlog.App.Extensions
@using XUnitBlog.Domain.Entities
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XUnitBlog.App.styles.css" asp-append-version="true" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />

    <!-- AlpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <header>
        <nav class="uk-navbar-container">
            <div class="uk-padding-large uk-padding-remove-vertical">
                <div uk-navbar uk-grid>
                    <div class="uk-width-auto">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Inicio</a></li>
                            <li><a href="/#news">Novidades</a></li>
                            <li><a href="/#about">Sobre</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-expand uk-flex uk-flex-center uk-flex-middle">
                        <form class="uk-search uk-search-default uk-width-1-1">
                            <span uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="Pesquisar conteúdo" aria-label="Pesquisar conteúdo">
                        </form>
                    </div>
                    <div class="uk-width-auto uk-flex uk-flex-center uk-flex-middle">
                        <ul class="uk-navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <div>
                                        <a asp-page="Admin/Index" class="uk-button uk-button-secondary">Admin</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a asp-page="/Auth/Logout" class="uk-button uk-button-danger">
                                            <span uk-icon="sign-out"></span>
                                        </a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div>
                                        <a asp-page="/Auth/Login" class="uk-button uk-button-secondary">Login</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="uk-padding uk-flex uk-flex-between uk-flex-middle uk-light uk-background-secondary">
        <div>
            <h3>XUnitBlog</h3>
        </div>
        <div>
            <p>
                Desenvolvido por
                <a href="https://github.com/vitormcampos/">
                    @@Vitor Campos
                </a>
            </p>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- UIkit JS -->
    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
