@using System.Security.Claims
@using XUnitBlog.Domain.Entities
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XUnitBlog.App.styles.css" asp-append-version="true" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/css/uikit.min.css" />

    <!-- AlpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <header>
        <nav class="uk-navbar-container">
            <div class="uk-padding-large uk-padding-remove-vertical">
                <div uk-navbar uk-grid>
                    <div class="uk-width-auto">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Home</a></li>
                            <li>
                                <a href="#">Parent</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-expand uk-flex uk-flex-center uk-flex-middle">
                        <form class="uk-search uk-search-default uk-width-1-1">
                            <span uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="Pesquisar conteúdo" aria-label="Pesquisar conteúdo">
                        </form>
                    </div>
                    <div class="uk-width-auto">
                        <ul class="uk-navbar-nav">
                            @if (User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == Role.ADMIN.ToString()))
                            {
                                <li><a asp-page="Admin/Index">Admin</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="auth/profile">
                                        <span uk-icon="icon: user; ratio: 1" style="border: 1px solid #ccc; border-radius: 100%; padding: 10px"></span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="uk-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </main>
    <footer class="uk-flex uk-flex-between uk-flex-middle uk-padding-large uk-padding-remove-vertical">
        <div>
            <h3>XUnitBlog</h3>
        </div>
        <div>
            <p>Desenvolvido por @@Vitor Campos</p>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/js/uikit-icons.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
