@page
@using XUnitBlog.Domain.Entities
@model XUnitBlog.App.Pages.Admin.Users.NewModel
@{
    ViewData["Title"] = "Novo usuário";
}

<div class="uk-container uk-flex uk-flex-center uk-margin-top">
    @foreach (var error in Model.Errors)
    {
        <div class="uk-alert-danger" uk-alert>
            <a href class="uk-alert-close" uk-close></a>
            <p><b>@error.Value</b></p>
        </div>
    }
    <form method="post" enctype="multipart/form-data">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend uk-margin">Novo usuário</legend>
            <div class="uk-child-width-1-2@@m" uk-grid>
                <div>
                    <label asp-for="CreateUser.FirstName">Nome</label>
                    <input class="uk-input" type="text" asp-for="CreateUser.FirstName">
                </div>
                <div>
                    <label asp-for="CreateUser.LastName">Sobrenome</label>
                    <input class="uk-input" type="text" asp-for="CreateUser.LastName">
                </div>
            </div>

            <div class="uk-margin">
                <label asp-for="CreateUser.Email">Email</label>
                <input class="uk-input" type="email" asp-for="CreateUser.Email">
            </div>

            <div class="uk-child-width-1-2@@m" uk-grid>
                <div>
                    <label asp-for="CreateUser.UserName">Usuario (nome de indentificação)</label>
                    <input class="uk-input" type="text" asp-for="CreateUser.UserName">
                </div>
                <div>
                    <label asp-for="CreateUser.Role">Permissão</label>
                    <select class="uk-select" asp-for="CreateUser.Role">
                        <option value="@Role.ADMIN">Admin</option>
                        <option value="@Role.EDITOR">Editor</option>
                    </select>
                </div>
            </div>

            <div class="uk-child-width-1-2@@m" uk-grid>
                <div>
                    <label asp-for="CreateUser.Password">Senha</label>
                    <input class="uk-input" type="password" asp-for="CreateUser.Password">
                </div>
                <div>
                    <label asp-for="CreateUser.ConfirmPassword">Confirme a senha</label>
                    <input class="uk-input" type="password" asp-for="CreateUser.ConfirmPassword">
                </div>
            </div>

            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file" aria-label="Selecione a foto de perfil" asp-for="CreateUser.Photo">
                    <input class="uk-input uk-form-width-medium" type="text"
                           placeholder="Selecione a foto de perfil" aria-label="Selecione a foto de perfil" disabled>
                </div>
            </div>
        </fieldset>

        <button class="uk-button uk-button-primary" type="submit">Criar usuário</button>
    </form>
</div>